.header {
  background-color: #ffffff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  margin-bottom: 10px;
}
.header .menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header .menu ul li a {
  text-decoration: none;
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header .user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .user .images {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .user .button {
  padding-right: 24px;
  border-right: 1px solid #958c8b;
}

.header .user .button button {
  width: 127px;
  height: 30px;
  background-color: #ffffff;
  color: #ff6363;

  border-radius: 5.99px;
  border: 1.5px solid #ff6363;
}

.sidepanel {
  display: none;
}

.openbtn {
  display: none;
}

@media screen and (max-width: 786px) {
  .header {
    justify-content: start;
    gap: 5px;
  }

  .header .menu {
    display: none;
  }

  .header .user {
    display: none;
  }

  .user-in .button {
    padding-left: 32px;
    padding-top: 20px;
    
  }

  .user-in .button button {
    width: 127px;
    height: 30px;
    background-color: #ffffff;
    color: #ff6363;

    border-radius: 5.99px;
    border: 1.5px solid #ff6363;
  }

  .user-in .images {
    padding-left: 32px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .sidepanel {
    display: block;
    height: 100vh; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #fff; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }


  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  
  .sidepanel a:hover {
    color: #c2c1c1;
  }

 
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
  .openbtn {
    display: block;
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #aaaaaa;
  }
}
