<div class="container">
  <div class="logo">
    <img src="/assets/div.elementor-widget-container.png" alt="" />
    <p>Learning often happens in classrooms but it doesn’t have to.</p>
    <div class="socials">
      <img src="/assets/Link.png" alt="" />
      <img src="/assets/Link (1).png" alt="" />
      <img src="/assets/Link (2).png" alt="" />
      <img src="/assets/Link (3).png" alt="" />
      <img src="/assets/Link (4).png" alt="" />
    </div>
  </div>
  <div class="quick-links">
    <h2>Quick Links</h2>
    <ul>
      <li><a style="color: #ec4c3c" href="">Home</a></li>
      <li><a href="">Find instructor</a></li>
      <li><a href="">Who we are</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Terms & Conditions</a></li>
      <li><a href="">Faq</a></li>
    </ul>
  </div>
  <div class="account">
    <h2>Account</h2>
    <ul>
      <li><a href="">My Account</a></li>
      <li><a href="">Become a lingo</a></li>
      <li><a href="">Inbox</a></li>
      <li><a href="">How it work</a></li>
    </ul>
  </div>
  <div class="newsletter">
    <h2>Subscribe to Our Newsletter</h2>
    <div class="email">
      <input type="text" placeholder="Email" />
      <button>SUBSCRIBE</button>
    </div>
  </div>
</div>
<div class="copyrights">
  <div class="copy">
      <p>© COPYRIGHT Lingo-Buddies.com 2023</p>
  </div>
  <div class="design">
      <p>DESIGN & DEVELOPED BY <span>SILICON VALLEY WEB SOLUTIONS</span></p>
  </div>
</div>
